<% content_for :your_special_name_for_this_placeholder_you_can_call_it_packs_for_example do %>
  <%= stylesheet_pack_tag 'movies', media: 'all' %>
  <%= javascript_pack_tag 'movies' %>
<% end %>

<h1>Movies</h1>
 

