/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
body {
  color: #292C33;
}
table.hall {
  margin-left: -30px;
  td.nrow {
    min-width: 60px;
  }

  td.seat {
    background-image: url(image_path('char.png'));
    background-size: 25px 40px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
    height: 40px;
    min-width: 23px;
    margin-right: 5px;
    margin-bottom: 5px;
    font: 12px bold;
  }
  td.block {
    background-color: #F7FFDB;
    background-image: none;
  }
}
